{% extends "base.html" %}
{% block title %}Login - Smart TK{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="h4 mb-3 text-center">Login Pengguna</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Masuk</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
